[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/alpha-church"]
	path = themes/alpha-church
	url = https://github.com/funkydan2/alpha-church.git
